openapi: 3.0.4
info:
  title: Система Управления Банковскими Картами - OpenAPI 3.0
  description: |-
    Бэкенд-часть системы управления банковскими картами, разработанная с использованием стэка технологий Spring в соответствии с техническим заданием на разработку. Тестовое задание.
    
    Связанные ссылки:
    - [GitHub репозиторий](https://github.com/DMCustoms/Cards)
    - [Техническое задание](https://docs.google.com/document/d/1IDT0YuytAV38C5UrbmVOnhMgv3vOxy9IPaR-XtIoXbA)
  contact:
    email: sve16514968@yandex.ru
  version: 1.0.0
servers:
  - url: http://172.16.238.2:8080/api
tags:
  - name: admin
    description: Эндпоинты администратора системы
  - name: user
    description: Эндпоинты пользователя системы
  - name: auth
    description: Эндпоинты аутентификации и авторизации
paths:
  /admin/cards/create:
    post:
      tags:
        - admin
      summary: Создание карты
      description: Создание новой карты без владельца
      operationId: createCard
      requestBody:
        description: Тело запроса должно содержать номер карты, начальный баланс и лимиты
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardCreateDTO'
        required: true
      responses:
        '201':
          description: Создано успешно
        '400':
          description: Ошибки валидации входящих данных
          content:
            application/json:
              example:
                error:
                  Credit card number is incorrect
        '409':
          description: Ошибка дублирования номера карты в базе данных
          content:
            application/json:
              example:
                error:
                  Card with card number 2393051151453127 already exists
        default:
          description: Непредвиденная ошибка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
                
  /admin/cards/block/{cardNumber}:
    patch:
      tags:
        - admin
      summary: Блокировка карты
      description: Блокировка карты по номеру
      operationId: blockCard
      parameters:
        - name: cardNumber
          in: path
          description: Номер блокируемой карты
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Карта заблокирована успешно
        '404':
          description: Карта не найдена
          content:
            application/json:
              example:
                error:
                  Card with card number 2393051151453127 not found
        default:
          description: Непредвиденная ошибка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'    
                
  /admin/cards/activate/{cardNumber}:
    patch:
      tags:
        - admin
      summary: Активация карты
      description: Активация карты по номеру
      operationId: activateCard
      parameters:
        - name: cardNumber
          in: path
          description: Номер активируемой карты
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Карта активирована успешно
        '404':
          description: Карта не найдена
          content:
            application/json:
              example:
                error:
                  Card with card number 2393051151453127 not found
        default:
          description: Непредвиденная ошибка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'                  
          
  /admin/cards/block-requests:
    get:
      tags:
        - admin
      summary: Запросы на блокировку
      description: Вывод списка карт с запросами на блокировку
      operationId: getCardsWithBlockRequests
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardShowDTO'
        '204':
          description: Запросов на блокировку нет
        default:
          description: Непредвиденная ошибка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO' 
                
  /admin/cards/limits:
    patch:
      tags:
        - admin
      summary: Установка лимитов
      description: Установка лимитов по карте
      operationId: setLimits
      requestBody:
        description: Тело запроса должно содержать номер карты и устанавливаемые лимиты
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetLimitsDTO'
      responses:
        '200':
          description: Успешно
        '400':
          description: Ошибки валидации входящих данных
          content:
            application/json:
              example:
                error:
                  Credit card number is incorrect
        '404':
          description: Карта не найдена
          content:
            application/json:
              example:
                error:
                  Card with card number 2393051151453127 not found
        default:
          description: Непредвиденная ошибка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
                
  /admin/cards/{cardNumber}:
    delete:
      tags:
        - admin
      summary: Удаление карты
      description: Удаление карты по номеру
      operationId: deleteCard
      parameters:
        - name: cardNumber
          in: path
          description: Номер удаляемой карты
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Удалено успешно
        '404':
          description: Карта не найдена
          content:
            application/json:
              example:
                error:
                  Card with card number 2393051151453127 not found
        default:
          description: Непредвиденная ошибка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
                
  /admin/cards:
    get:
      tags:
        - admin
      summary: Список карт
      description: Вывод списка всех карт с пагинацией
      operationId: getAllCards
      parameters:
        - name: page
          in: query
          description: Порядковый номер страницы
          required: true
          schema:
            type: string
        - name: size
          in: query
          description: Размер страницы
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardShowDTO'
        '400':
          description: Неверные параметры запроса
          content:
            application/json:
              example:
                error:
                  Query parameters are invalid
        default:
          description: Непредвиденная ошибка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
                
  /admin/cards/{email}:
    get:
      tags:
        - admin
      summary: Карты пользователя
      description: Вывод списка карт конкретного пользователя
      parameters:
        - name: email
          in: path
          description: Email пользователя
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardShowDTO'
        '404':
          description: Пользователь не найден
          content:
            application/json:
              example:
                error:
                  User with Email i.ivanov@test.com not found
        default:
          description: Непредвиденная ошибка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
                
  /admin/transactions:
    get:
      tags:
        - admin
      summary: Список транзакций
      description: Вывод списка всех транзакций с пагинацией
      parameters:
        - name: page
          in: query
          description: Порядковый номер страницы
          required: true
          schema:
            type: string
        - name: size
          in: query
          description: Размер страницы
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешно
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDTO'
        '400':
          description: Неверные параметры запроса
          content:
            application/json:
              example:
                error:
                  Query parameters are invalid
        default:
          description: Непредвиденная ошибка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorDTO'
                
components:
  schemas:
    CardCreateDTO:
      type: object
      properties:
        cardNumber:
          type: string
          description: Номер создаваемой карты (должен проходить проверку алгоритмом Луна)
          example: 2393051151453127
        balance:
          type: number
          format: double
          minimum: 0
          description: Баланс создаваемой карты (должен быть больше либо равен нулю)
          example: 15234.97
        limitPerDay:
          type: number
          format: double
          minimum: 0
          description: Дневной лимит на снятие средств (должен быть больше либо равен нулю)
          example: 150000.00
        limitPerMonth:
          type: number
          format: double
          minimum: 0
          description: Месячный лимит на снятие средств (должен быть больше либо равен нулю)
          example: 150000.00
    CardShowDTO:
      type: object
      properties:
        cardNumber:
          type: string
          description: Номер карты
          example: 2393051151453127
        expiredAt:
          type: string
          format: date-time
          description: Срок действия
          example: 2030-12-12T19:52:00.407073Z
        status:
          type: string
          description: Статус
          example: ACTIVE
        balance:
          type: number
          format: double
          description: Баланс
          example: 31960.65
        limitPerDay:
          type: number
          format: double
          description: Дневной лимит на снятие средств
          example: 150000.00
        limitPerMonth:
          type: number
          format: double
          description: Месячный лимит на снятие средств
          example: 150000.00
        ownerEmail:
          type: string
          description: Email владельца карты
          example: i.ivanov@test.com
    SetLimitsDTO:
      type: object
      properties:
        cardNumber:
          type: string
          description: Номер карты
          example: 2393051151453127
        limitPerDay:
          type: number
          format: double
          description: Дневной лимит на снятие средств
          example: 150000.00
        limitPerMonth:
          type: number
          format: double
          description: Месячный лимит на снятие средств
          example: 150000.00
    TransactionDTO:
      type: object
      properties:
        cardSourceNumber:
          type: string
          description: Номер карты, с которой списываются средства
          example: 2393051151453127
        cardRecipientNumber:
          type: string
          description: Номер карты, на которую зачисляются средства 
            (может быть null, при операции списания средств)
          example: 2393051151453127
        type:
          type: string
          description: Тип транзакции (перевод между счетами, списание средств)
          example: TRANSFER
        date:
          type: string
          format: date-time
          description: Дата проведения транзакции
          example: 2030-12-12T19:52:00.407073Z
        value:
          type: number
          format: double
          description: Значение транзакции
          example: 13421.34
    ErrorDTO:
      type: object
      properties:
        status:
          type: integer
          description: Статус код ошибки
          example: 500
        message:
          type: string
          description: Описание ошибки
          example: Internal server error
        uri:
          type: string
          description: URI ошибки
          example: /api/admin/cards/create
          
        